.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-mail {
  background-image: url('../images/icons-sda41bc8476.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 34px;
}
