.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-mail {
  background-image: url('../images/icons-sfce4c66fa7.png');
  background-position: 0 -152px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 34px;
}

.icon-tw {
  background-image: url('../images/icons-sfce4c66fa7.png');
  background-position: 0 -202px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.icon-rss {
  background-image: url('../images/icons-sfce4c66fa7.png');
  background-position: 0 -182px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
}

.icon-fc {
  background-image: url('../images/icons-sfce4c66fa7.png');
  background-position: 0 -17px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.icon-down {
  background-image: url('../images/icons-sfce4c66fa7.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 20px;
}

.icon-google {
  background-image: url('../images/icons-sfce4c66fa7.png');
  background-position: 0 -62px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.icon-in {
  background-image: url('../images/icons-sfce4c66fa7.png');
  background-position: 0 -107px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
