@import "mixins/mixins"

body
  @extend .fw-reset
  font-size: 12px
  font-weight: normal
  line-height: 1.5

html,body
  -webkit-overflow-scrolling : touch !important
  overflow: auto !important
  height: 100% !important

.container
  width: 1200px
  margin-left: auto
  margin-right: auto


header
  margin-left: 0
  margin-right: 0

.bg
  background: url("../images/bg.jpg") no-repeat
  -webkit-background-size: cover
  background-size: cover
  height: 100vh
.logo

.header-line
  display: flex
  justify-content: space-between
  height: 115px
  align-items: center
  border-bottom: 1px solid #ffffff

.icons
  font-size: 0
  display: flex
  justify-content: space-between
  width: 125px
  margin-right: 3px
  i
  span
    height: 34px
    width: 34px
    border-radius: 50%
    opacity: .8
    background-color: rgb( 254, 254, 254 )







