{% extends "layouts/app.twig" %}

{% block pageTitle %}Title{% endblock %}

{% block content %}
    <header>

    </header>
    <div class="section"><div class="container"></div></div>
{% endblock %}
