{% extends "layouts/app.twig" %}

{% block pageTitle %}Title{% endblock %}

{% block content %}

    <header>
            <section class="container">
               <div class="header-line"><div class="logo"><img src="../images/logo.png" alt=""></div><span>STRICT</span>
               </div>
            </section>
        <section class="bg-top">
            <div class="container-bg fw-flex fw-flex-column"><span>STRICT</span>STRICT is a responsive theme with a a clean and minimal look.
                <button>Call to action</button>
                <a href=""><i class="icon-down"></i></a>
            </div>
        </section>
    </header>
    <section class="line-text">
        <div class="cont-line fw-flex fw-flex-column"><span>Simple & pure design.</span>Designers everywhere gush with admiration upon seeing a web design and exclaim "its beautiful, it's so clean!". There are a countless number of webdesign round-ups dedicated to 'clean' design and it is a term thrown around quite a bit in the web design community. It can be easy to spot a good example of clean design.</div>
    </section>
    <section>
        <div class="items-cont fw-flex fw-flex-space-between ">
            <div class="item fw-flex fw-flex-column "><img src="../images/item1.png" alt=""><span>Optimized for all devices</span>STRICT has been designed to be fully
                responsive on all devices</div>
            <div class="item fw-flex fw-flex-column "><img src="../images/item2.png" alt=""><span>Clean & Minimal Design</span>This multipurpose theme is especially created
                to be used for different projects.</div>
            <div class="item fw-flex fw-flex-column "><img src="../images/item3.png" alt=""><span>Font Awesome Icon</span>This multipurpose theme is especially created
                to be used for different projects.</div>
        </div>
    </section>
    <section style="background-color:#f6f9f9;">
        <div class="works-text "><span>Showcase your work like a pro.</span> Contact me if you like my work</div>
        <div class="works fw-flex fw-flex-wrap fw-relative">
            <div class="work-block"><a href=""><img src="../images/wr1.png" alt=""></a></div>
            <div class="work-block"><a href=""><img src="../images/wr2.png" alt=""></a></div>
            <div class="work-block"><a href=""><img src="../images/wr3.png" alt=""></a></div>
            <div class="work-block"><a href=""><img src="../images/wr4.png" alt=""></a></div>
            <div class="work-block"><a href=""><a href=""><img src="../images/wr5.png" alt=""></a></div>
            <div class="work-block"><a href=""><a href=""><img src="../images/wr6.png" alt=""></a></div>
        </div>
    </section>
    <section class="bg-foot">
        <div class="cont-in fw-flex fw-flex-column">
            <span>Stay with us</span>We ensure quailty & support
        </div>
        <div class="inputs fw-flex fw-flex-column">
            <input type="text" placeholder="Full name">
            <input type="text" placeholder="Email address">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
        </div>
        <div class="boot-foot fw-flex fw-flex-space-between">
        <div class="send">
            <div class="checkbox-flex">
                <label class="fw-checkbox fw-inline-block fw-mr-10">
                    <input type="checkbox" class="fw-hidden">
                    <span class="checkbox__detector"></span>
                </label>
                <span>Subscribe Newsletter</span>
            </div>
        </div>
       <div class="button-foot"><button>Send</button></div>
        </div>
    </section>
    <footer>
        <div class="footer-cont fw-flex fw-flex-space-between"><span>Copyritht 2014, STRICT</span>
            <div class="icons-foot">
                <i class="icon-fc"></i>
                <i class="icon-tw"></i>
                <i class="icon-google"></i>
                <i class="icon-in"></i>
            </div>
        </div>
    </footer>

{% endblock %}
